<div class="x-hnavigation">
  <div class="x-hnavigation-logo">
    <a routerLink="/">Atlant</a>
  </div>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/">Dashboard</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/crime-data">Crime Data</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/property-data">Property Data</a>
    </li>
  </ul>

  <div class="x-features">
    <div class="x-features-nav-open">
      <span class="fa fa-bars"></span>
    </div>
    <div class="pull-right">
      <div class="x-features-profile">
        <img [src]="avatarLink">
        <ul class="xn-drop-left animated zoomIn">
          <li><a href="pages-lock-screen.html"><span class="fa fa-lock"></span> Lock Screen</a></li>
          <li><a href="#" (click)="signout($event)" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign
              Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>