<div class="x-hnavigation">
  <div class="x-hnavigation-logo">
    <a class="logo-main" routerLink="/">ProjectSecure</a>
  </div>
  <ul>
    <li class="active">
      <a href="#">Home</a>
    </li>
    <li>
      <a routerLink="/login">Login</a>
    </li>
  </ul>

  <div class="x-features">
    <div class="x-features-nav-open">
      <span class="fa fa-bars"></span>
    </div>
    <div class="pull-right">
      <div class="x-features-search">
        <input type="text" name="search">
        <input type="submit">
      </div>
      <div class="x-features-profile">
        <img src="assets/assets/images/users/avatar.jpg">
        <ul class="xn-drop-left animated zoomIn">
          <li><a href="pages-lock-screen.html"><span class="fa fa-lock"></span> Lock Screen</a></li>
          <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign
              Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
