<div class="page-title">
  <h2>
    <span class="fa fa-arrow-circle-o-left"></span> Crime Data Exploration</h2>
</div>
<div class="page-content-wrap">
  <!-- START RESPONSIVE TABLES -->
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">

        <div class="panel-heading">
          <div class="col-lg-11">
            <h3 class="panel-title">Crime Data</h3>
          </div>
          <div class="col-lg-1">
            <span class="button fa fa-arrow-circle-o-left" (click)="goPrevious()"></span>
            <span class="button fa fa-arrow-circle-o-right" (click)="goNext()"></span>
          </div>
        </div>

        <div class="panel-body panel-body-table">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-actions">
              <thead>
                <tr>
                  <th width="50">id</th>
                  <th width="200">Category</th>
                  <th width="200">PostCode</th>
                  <th width="200">Borough</th>
                  <th width="200">Month</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataList; index as i">
                  <td class="text-center">{{increment(i)}}</td>
                  <td>
                    <strong>{{data.category}}</strong>
                  </td>
                  <td>
                    <span class="label label-success">{{data.postCode}}</span>
                  </td>
                  <td>{{data.borough}}</td>
                  <td>{{data.month}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <form #crimeForm="ngForm" (submit)="getData(crimeForm)" class="form-horizontal">
          <div class="panel-heading">
            <h3 class="panel-title">Filters</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-md-4 col-xs-12 control-label">Categories</label>
              <div class="col-md-8 col-xs-12">
                <select name="category" #category="ngModel" ngModel class="form-control">
                  <option value="" disabled>Please Select</option>
                  <option *ngFor="let category of categories">{{category}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-xs-12 control-label">Dates</label>
              <div class="col-md-4 col-xs-12">
                <select name="year" #year="ngModel" ngModel class="form-control">
                  <option value="" disabled>Year</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                </select>
              </div>
              <div class="col-md-4 col-xs-12">
                <select name="month" #month="ngModel" ngModel class="form-control">
                  <option value="" disabled>Month</option>
                  <option value="01">Jan</option>
                  <option value="02">Feb</option>
                  <option value="03">Mar</option>
                  <option value="04">Apr</option>
                  <option value="05">May</option>
                  <option value="06">Jun</option>
                  <option value="07">Jul</option>
                  <option value="08">Aug</option>
                  <option value="09">Sep</option>
                  <option value="10">Oct</option>
                  <option value="11">Nov</option>
                  <option value="12">Dec</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-xs-12 control-label">Postcodes</label>
              <div class="col-md-8 col-xs-12">
                <select name="postcode" #postcode="ngModel" ngModel class="form-control">
                  <option value="" disabled>Please Select</option>
                  <option *ngFor="let postcode of postCodes">{{postcode}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 col-xs-12 control-label">Boroughs</label>
              <div class="col-md-8 col-xs-12">
                <select name="borough" #borough="ngModel" ngModel class="form-control">
                  <option value="" disabled>Please Select</option>
                  <option *ngFor="let borough of boroughs">{{borough}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <!-- <button class="btn btn-default">Clear Form</button> -->
            <button class="btn btn-primary pull-right">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- END RESPONSIVE TABLES -->
</div>