<div class="login-container">

  <div class="login-box animated fadeInDown">
    <div class="login-logo"></div>
    <div class="login-body">
      <div class="login-title"><strong>Welcome</strong>, Please login</div>
      <form #loginForm="ngForm" (submit)="login(loginForm)" class="form-horizontal">
        <div class="form-group" [ngClass]="{'has-error': loginForm.submitted && email.invalid}">
          <div class="col-md-12">
            <input type="email" required #email="ngModel" ngModel class="form-control" placeholder="Email" name="email"/>
            <span class="help-block" *ngIf="loginForm.submitted && email.invalid">
              {{email.errors.required? 'Email is required': ''}}
              {{email.errors.invalid? 'Email is invalid': ''}}
              {{email.errors.server? email.errors.server: ''}}
            </span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': loginForm.submitted && password.invalid}">
          <div class="col-md-12">
            <input type="password" required #password="ngModel" ngModel class="form-control" placeholder="Password" name="password" />
            <span class="help-block" *ngIf="loginForm.submitted && password.invalid">
              {{password.errors.required? 'Password is required': ''}}
              {{password.errors.server? password.errors.server: ''}}
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-6 col-md-6">
            <button type="submit" class="btn btn-info btn-block">Log In</button>
          </div>
        </div>
      </form>
    </div>
    <div class="login-footer">
      <div class="pull-left">
        &copy; 2019 Criminalysis
      </div>
      <div class="pull-right">
        <a href="#">About</a>
      </div>
    </div>
  </div>

</div>