.login-container{
    min-height: 100vh;
}

.x-content{
    min-height: calc(100vh - 150px);
}

.button {
    font-size: xx-large !important;
    padding: 1px !important;
    cursor: pointer !important;
}

.disabled {
    color: gray !important;
}